/*body {
        position: relative;
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #373a3c;
    background-color: #f9f9f9;
        overflow-x: hidden;
}

      #video {
        width: 100%;
        height: 35rem;
      }
      #shoot {
        position: fixed;
        bottom : 0;
        left: 0;
      }
      #reset {
        position: fixed;
        bottom: 0;
        right: 0;
      }
      #target,canvas {
        position: absolute;
        top: 0;
          height: 100%;
          text-align: center;
      }
      .row, .col.s12 {
        position: relative;
      }
.main{
    position: relative;
}

#canvas{
    width: 100%;
    height: 35rem;
}
    .col.s12{
        display: flex;
        justify-content: center;*/
    }
body {
    position: relative;
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #373a3c;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/*#video {
width: 100%;
height: 35rem;
}*/
/*      #shoot {
        position: fixed;
        bottom : 0;
        left: 0;
      }
      #reset {
        position: fixed;
        bottom: 0;
        right: 0;
      }*/
#canvas {
    top: 0;
    height: 100%;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-title{
        background-color: rgba(0,0,0,0.3);
    width: 100%;
}

video {
    display: none;
}
.row, .col.s12 {
    position: relative;
}
.main{
    position: relative;
}

.col.s12{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}
.indicators{
    display:   none;
}


/*nav*/
/*nav*/


nav, footer{
    height: 3rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 9;
}

footer.row{
    margin-bottom: 0;
}

.title{

color:rgb(127, 127, 127);
display:block;
font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:28px;
line-height:30.8px;
text-align:center;
}

#map {
    width: 100%;
    height: 500px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.leaflet-popup-content img {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

<<<<<<< HEAD
nav, footer{
    height: 3rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 9;
}

footer.row{
    margin-bottom: 0;
}

.title{

color:rgb(127, 127, 127);
display:block;
font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:28px;
line-height:30.8px;
text-align:center;
}

#map {
    width: 100%;
    height: 500px;
}

.leaflet-popup-content img {
    width: 100%;
    height: 100%;
}


footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
